In [1]:
import numpy as np 
import pandas as pd 
import requests 
import xlsxwriter 
import math

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')

In [3]:
from secrets import IEX_CLOUD_API_TOKEN

In [4]:
symbol='AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'symbol': 'AAPL',
 'companyName': 'Apple Inc',
 'primaryExchange': 'MSEDE BELA LKGGS )/TSCA(ROALQNTAN',
 'calculationPrice': 'tops',
 'open': 0,
 'openTime': None,
 'openSource': 'lcfaifoi',
 'close': 0,
 'closeTime': None,
 'closeSource': 'ilfafcio',
 'high': 0,
 'highTime': None,
 'highSource': None,
 'low': 0,
 'lowTime': None,
 'lowSource': None,
 'latestPrice': 148.4,
 'latestSource': 'IEX real time price',
 'latestTime': '1:11:11 PM',
 'latestUpdate': 1667662737214,
 'latestVolume': None,
 'iexRealtimePrice': 148.4,
 'iexRealtimeSize': 103,
 'iexLastUpdated': 1694221147680,
 'delayedPrice': None,
 'delayedPriceTime': None,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'extendedPrice': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPriceTime': None,
 'previousClose': 147.1,
 'previousVolume': 79686625,
 'change': 2.4,
 'changePercent': 0.01612,
 'volume': None,
 'iexMarketPercent': 0.013156507701711178,
 'iexVolume': 737961,
 'avgTotalVolume': 84219077,
 'iexBidPrice': 149.65,
 'iexBidSize': 101,
 'iexAskPrice': 149.1,
 'iexAskSize': 103,
 'iexOpen': 152.4,
 'iexOpenTime': 1640313420028,
 'iexClose': 152,
 'iexCloseTime': 1648760929083,
 'marketCap': 2535411521173,
 'peRatio': 33.23,
 'week52High': 147.88,
 'week52Low': 89.87,
 'ytdChange': 0.01603,
 'lastTradeTime': 1658140386711,
 'isUSMarketOpen': True}

In [6]:
data['latestPrice']

148.4

In [7]:
data['marketCap']

2535411521173

In [8]:
my_columns = ['Ticker', 'Price','Market Capitalization', 'Number Of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number Of Shares to Buy]
Index: []

In [9]:
final_dataframe = final_dataframe.append(
                                        pd.Series(['AAPL', 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)
final_dataframe

  Ticker  Price Market Capitalization Number Of Shares to Buy
0   AAPL  148.4         2535411521173                     N/A

In [10]:
final_dataframe = pd.DataFrame(columns = my_columns)
for symbol in stocks['Ticker']:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)

In [11]:
final_dataframe

    Ticker    Price Market Capitalization Number Of Shares to Buy
0        A  152.430           47001915251                     N/A
1      AAL   20.990           13490937578                     N/A
2      AAP  213.500           14164568808                     N/A
3     AAPL  149.020         2513294794490                     N/A
4     ABBV  123.020          212623742719                     N/A
..     ...      ...                   ...                     ...
500    YUM  119.040           35426609607                     N/A
501    ZBH  163.970           34011483056                     N/A
502   ZBRA  536.750           29892483590                     N/A
503   ZION   52.650            8599777189                     N/A
504    ZTS  205.356           97145688049                     N/A

[505 rows x 4 columns]